<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{css_framework}}">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href={{css_filepath}}>
</head>
<body>

{{{body}}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="{{css_framework_js}}"></script>
  <script type="text/javascript" src="{{js_filepath}}"></script>
</body>
</html>